.App {
  display: flex;
  justify-content: space-around;
}

.Result {

}

.Hero {
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.HeroName {
  margin: 0 0 0 4px;
}

.HeroImage {
  height: 30px;
}
